extends main_template
include mixins

block title
  title #{__("General Chat")} 
append style
    link(rel='stylesheet', href='/css/general_chat.css')
block General Chat
    li.selected
      i.fa.fa-comments(aria-hidden="true")
      a(href="general_chat") #{__("General Chat")} 
append scripts
    script(src='/js/socket/general_chat.js')
block main  
  .chat
    #messages
      - for (let i = messages.length - 1; i >= 0; i--)
        if myid == messages[i].sender
          +myMessage(messages[i].nickname, messages[i].message, messages[i].date, messages[i].avatar, messages[i].sender)
        else
          +otherMessage(messages[i].nickname, messages[i].message, messages[i].date, messages[i].avatar, messages[i].sender)
    .type
      ul
    form#chat_input
      input#m(autocomplete='off' placeholder=__("Write a message"))
      button#send >
block right
  .online
    h4
      | #{__("ONLINE")} [ 
      span.online-count 0
      |  ]
    ul
