extends main_template

block title
  title General Chat
append style
    link(rel='stylesheet', href='/css/style.css')
block General Chat
    li.selected: a(href="general_chat") General Chat   
append scripts
    script(src='/js/socket/general_chat.js')
block main  
  .row
    .chat
      .name
        | My name is 
        span(style='padding: 10px; color: #DAE1FF; text-transform: uppercase; font-weight: bold;')=mynickname
      #messages
      form#chat_input
        input#m(autocomplete='off')
        button Send
      .type
        ul
block right
  .online
    h4
      | ONLINE [ 
      span.online-count 0
      |  ]:
    ul
