extends main_template

block title
  title #{__("General Chat")} 
append style
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/general_chat.css')
block General Chat
    li.selected
      i.fa.fa-comments(aria-hidden="true")
      a(href="general_chat") #{__("General Chat")} 
append scripts
    script(src='/js/socket/general_chat.js')
block main  
  .row
    .chat
      #messages
      form#chat_input
        input#m(autocomplete='off')
        button Send
      .type
        ul
block right
  .online
    h4
      | #{__("ONLINE")} [ 
      span.online-count 0
      |  ]
    ul
