<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
            title Document
        block style
            link(rel="stylesheet", href="/css/main_style.css")
    body
        .wrapper
            header
                block header
                    p=mynickname
            .body
                aside.left
                    block left
                        nav.main-menu
                            ul
                                block Home
                                    li: a(href="main") Home                                    
                                block Friends
                                    li: a(href="friends") Friends 
                                block General Chat
                                    li: a(href="general_chat") General Chat   
                                block Dialogs
                                    li: a(href="dialogs") Dialogs
                                block Log out
                                    li: a(href="logout") Log out
                main
                    block main
                aside.right
                    block right
            footer
                block footer
                    p footer
        block scripts
            script(src='/js/libs/jquery.min.js')
            script(src='/js/libs/socket.io.js')
            script(src='/js/libs/js.cookie.js')
            script(src='/js/socket/global.js')

