extends main_template
include mixins

block title
  title!=nickname
append style
  link(rel="stylesheet", href="/css/profile.css")
append scripts
  script(src='/js/socket/friends.js')
block Home
  if target == 'me' 
    li.selected
      i.fa.fa-home(aria-hidden="true")
      a(href="main") #{__("Home")}
  else
    li
      i.fa.fa-home(aria-hidden="true")
      a(href="main") #{__("Home")}   
block main
    if target == 'me' 
      +my_profile(nickname, avatar, about, id) 
      script(src='/js/libs/jquery.min.js')
      script.
        $('#profile').on("submit", function(event){
        event.preventDefault();
        var url = $(this).attr("action");
          $.ajax({
          url: url,
          type: 'POST',
          data: new FormData(this),
          processData: false,
          contentType: false,
          success: function (data){
            alert('Профиль сохранен');
          }
          });
        });

    else
        +other_profile(nickname, avatar, about, id, status)
        script(src="/js/libs/jquery.min.js")
        script.
          $('.type_message').on('click', function(){
            alert('text with id ' + $('.profile_id').text());
          });
        script.
          $('.phone').on('click', function(){
            alert('phone with id ' + $('.profile_id').text());
          });