.dialogBlock{
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        border-width: 0;
        border-width:1px 1px 1px 2px;
        border-color: #777;
        background-color: #CCCCCC;
    }
    &::-webkit-scrollbar-thumb:hover{
        border-width: 1px 1px 1px 2px;
        border-color: #555;
        background-color: #777;
    }
    &::-webkit-scrollbar-track{
        border-width:0;
    }
    &::-webkit-scrollbar-track:hover{
        border-left: solid 1px #aaa;
        background-color: #eee;
    }
}
.dialog{
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;

    &:hover{
        background: #EEEDFF;
    }

    .dialogWrap{
        width: 100%;
        display: flex;
        border-bottom: 1px solid #CCCCCC;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .logo{
        width: 10%;
        padding: 5px;

        img{
            max-width: 100%;
            max-height: auto;
            border-radius: 50%;
        }
    }
    .dialogBody{
        padding: 0.5em;
        width: 90%;
        .top{
            height: 50%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .nickname{
                font-weight: bold;
                text-decoration: none;
                color: #464646;
                &:hover{
                    text-decoration: underline;
                }
            }
            .time{
                display: flex;
                justify-content: flex-end;
                min-width: 10%;
            }
        }
        .bottom{
            height: 50%;
            p{
                margin: 0;
                padding: 0;
                width : 100%;
                overflow:hidden;
                display:inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 10%;
            }
        }
    }
}