@import "fonts";

.right .online{
    font-family: Micra;  
    font-size: 0.8em;
    user-select: none;
    min-width: 150px;
    height: 100%;              
    display: block;
    padding-top: 0.5em;
    padding-bottom: 3.3em;
    margin: 0;

    & * { 
        margin: 0; 
        padding: 0; 
    }

    ul{

        height: 100%;
        list-style: none;
        -ms-overflow-style: none; 
        overflow: -moz-scrollbars-none;  
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar { 
            display: none;  
        }
        
        li{
            cursor: pointer;            
            padding: 0.7em 1em;      

            &:hover{
                color: #fff;
                text-shadow: 0 0 5px #000;
                background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(239,239,239,0.1) 19%, rgba(213,213,213,0.25) 50%, rgba(187,187,187,0.5) 80%, rgba(170,170,170,0.7) 100%);
                background: -webkit-linear-gradient(right,  rgba(255,255,255,0) 0%,rgba(239,239,239,0.1) 19%,rgba(213,213,213,0.25) 50%,rgba(187,187,187,0.5) 80%,rgba(170,170,170,0.7) 100%);
                background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(239,239,239,0.1) 19%,rgba(213,213,213,0.25) 50%,rgba(187,187,187,0.5) 80%,rgba(170,170,170,0.7) 100%);
               
            }
            &:hover a{
                color: #ffffff;
                text-shadow: 0 0 5px #000;
            }
        }
        a{
            color: #000;
            text-decoration: none;
        }
    }
    h4{
        cursor: default;          
        color: #fff;
        padding: 0.7em 1em;        
  
        background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(207,207,207,0.1) 19%, rgba(130,130,130,0.4) 49%, rgba(0,0,0,0.9) 100%);
        background: -webkit-linear-gradient(right,  rgba(255,255,255,0) 0%,rgba(207,207,207,0.1) 19%,rgba(130,130,130,0.4) 49%,rgba(0,0,0,0.9) 100%);
        background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(207,207,207,0.1) 19%,rgba(130,130,130,0.4) 49%,rgba(0,0,0,0.9) 100%);     
    }
}


.chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #messages { 
        // background: #EFF5F4;
        list-style: none;
        margin: 0; 
        padding: 5px; 
        overflow-y: scroll; 
        height: 100%;
        overflow-x: hidden; 

        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-thumb{
            border-width: 0;
            border-width:1px 1px 1px 2px;
            border-color: #777;
            background-color: #CCCCCC;
        }
        &::-webkit-scrollbar-thumb:hover{
            border-width: 1px 1px 1px 2px;
            border-color: #555;
            background-color: #777;
        }
        &::-webkit-scrollbar-track{
            border-width:0;
        }
        &::-webkit-scrollbar-track:hover{
            border-left: solid 1px #aaa;
            background-color: #eee;
        }

        // .message, .myMessage, .connectedUser, .disconnectedUser{
        //     margin: 10px;
        //     // background: #EADAF8;
        //     padding: 5px;
        //     display: flex;
        //     // justify-content: space-between;
        // }
        // .message .msg, .myMessage .msg{
        //     padding: 5px;
        //     word-wrap: break-word;
        //     margin-right: 5px;
        // }
        // .message .time, .myMessage .time{
        //     padding: 5px;
        // }
        // .myMessage            
        .message{
            
            .align{
                min-width: 30%;            
                max-width: 60%;
                padding: 5px;
                display: flex;

                .logo{
                    .avatar{
                        img{
                            width: 2.4em;
                            height: 2.4em;
                            border-radius: 50%;
                        }
                    }
                    .time{
                        color: #777;
                        font-size: 0.6em;
                        display: flex;
                        justify-content: center;
                        padding: 5px;
                    }
                }
                
                .msg{
                    padding: 0.7em;
                    border-radius: 0.3em;
                    width: fit-content; 
                    position: relative;
                    align-self: flex-start;
                    word-wrap: break-word;                
    
                    &::before {
                        content: ''; 
                        position: absolute;
                        top: 0.8em;
                        border: 7px solid transparent;
                    }
    
                }
            }
        }

        .myMessage{
            .align{
                .msg{
                    background: rgb(244, 244, 244);
                    margin-left: 15px;
                    box-shadow: 3px -3px 5px 0px rgba(98, 98, 98, 0.29);
                    
                    &::before {
                        left: -16px;  
                        border-right: 10px solid rgb(244, 244, 244);  
                    }
                }   
            }         
        }

        .anotherMessage{
            display: flex;
            justify-content: flex-end;

            .align{
                justify-content: flex-end;   

                .msg{
                    background: rgb(93, 168, 242);
                    margin-right: 15px;
                    box-shadow: -3px -3px 5px 0px rgba(98, 98, 98, 0.29);
                    
                    &::before {
                        right: -16px;  
                        border-left: 10px solid rgb(93, 168, 242);   
                    }
                }   
            }               
        }

        .connectedUser{
            background: #81F281;
            color: #fff;
        }
        .disconnectedUser{
            background: #F55656;
            color: #fff;
        }

    }

    #chat_input{
        display: flex;
        background: #fafbfc;
        padding: 0.5em;
        border-top: 1px solid #D8D8D9;

        #m{ 
            border: 1px solid #D8D8D9; 
            padding: 1em 0.6em;
            width: 100%;
            margin-right: .5%; 
            border-radius: 5px;
            
            &:focus{
            border: 1px solid #5C5CE8;
            box-shadow: inset 0px 0px 5px 1px rgb(118, 139, 255);            
            }
        }
        #send, .paperclip{ 
            border-radius: 5px;
            background: transparent;
            cursor: pointer;
            border: none; 
            padding: 0.5em 0.8em 0.5em 0.7em;
            margin: auto 0.5em;
            font-size: 1.1em;

            &:hover{
                box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
            }
        }
    }

    .type{
        min-height: 1em;
        padding: 5px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}
