@import "fonts";

.online{
    font-family: Micra;  
    font-size: 0.8em;
    user-select: none;
    min-width: 150px;
    height: 100%;              
    display: block;
    padding-top: 0.5em;
    padding-bottom: 3.3em;
    margin: 0;

    & * { 
        margin: 0; 
        padding: 0; 
    }

    ul{

        height: 100%;
        list-style: none;
        -ms-overflow-style: none; 
        overflow: -moz-scrollbars-none;  
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar { 
            display: none;  
        }
        
        li{
            cursor: pointer;            
            padding: 0.7em 1em;      

            &:hover{
                color: #fff;
                text-shadow: 0 0 5px #000;
                background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(239,239,239,0.1) 19%, rgba(213,213,213,0.25) 50%, rgba(187,187,187,0.5) 80%, rgba(170,170,170,0.7) 100%);
                background: -webkit-linear-gradient(right,  rgba(255,255,255,0) 0%,rgba(239,239,239,0.1) 19%,rgba(213,213,213,0.25) 50%,rgba(187,187,187,0.5) 80%,rgba(170,170,170,0.7) 100%);
                background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(239,239,239,0.1) 19%,rgba(213,213,213,0.25) 50%,rgba(187,187,187,0.5) 80%,rgba(170,170,170,0.7) 100%);
               
            }
            &:hover a{
                color: #ffffff;
                text-shadow: 0 0 5px #000;
            }
        }
        a{
            color: #000;
            text-decoration: none;
        }
    }
    h4{
        cursor: default;          
        color: #fff;
        padding: 0.7em 1em;        
  
        background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(207,207,207,0.1) 19%, rgba(130,130,130,0.4) 49%, rgba(0,0,0,0.9) 100%);
        background: -webkit-linear-gradient(right,  rgba(255,255,255,0) 0%,rgba(207,207,207,0.1) 19%,rgba(130,130,130,0.4) 49%,rgba(0,0,0,0.9) 100%);
        background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(207,207,207,0.1) 19%,rgba(130,130,130,0.4) 49%,rgba(0,0,0,0.9) 100%);     
    }
}


.chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #messages { 
        // background: #EFF5F4;
        list-style: none;
        margin: 0; 
        padding: 5px; 
        overflow-y: scroll; 
        height: 400px;
        overflow-x: hidden; 

        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-thumb{
            border-width: 0;
            border-width:1px 1px 1px 2px;
            border-color: #777;
            background-color: #CCCCCC;
        }
        &::-webkit-scrollbar-thumb:hover{
            border-width: 1px 1px 1px 2px;
            border-color: #555;
            background-color: #777;
        }
        &::-webkit-scrollbar-track{
            border-width:0;
        }
        &::-webkit-scrollbar-track:hover{
            border-left: solid 1px #aaa;
            background-color: #eee;
        }

        .message, .myMessage, .connectedUser, .disconnectedUser{
            margin: 10px;
            background: #EADAF8;
            padding: 5px;
            display: flex;
            justify-content: space-between;
        }
        .message .msg, .myMessage .msg{
            padding: 5px;
            word-wrap: break-word;
            margin-right: 5px;
            // width: 73%;
        }
        .message .time, .myMessage .time{
          /* display: inline; */
            padding: 5px;
          /* width: 30%; */
        }
        .myMessage{
            background: rgb(244, 244, 244);
            padding: 0.1em;
            border-radius: 0.7em;
            min-width: 30%;
            width: fit-content; 
            max-width: 60%;
            // width: 60%;

            .msg{
                padding: 0.5em;
                width: 90%;
            }
        }
        .message{
            background-color: transparent;
            display: flex;
            justify-content: flex-end;

            .align{
                background: rgb(106, 175, 235);
                padding: 0.1em;
                border-radius: 0.5em;
                min-width: 30%;
                width: fit-content; 
                max-width: 60%;
                // float: right;
                color: #fff;
                display: flex;
                justify-content: space-between;
    
                .msg{
                    padding: 0.5em;
                    width: 90%;
                }
                .time{
                    color: #fff;
                }
            }

        }
        .avatar{
            img{
                width: 2em;
                height: auto;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
        .connectedUser{
            background: #81F281;
            color: #fff;
        }
        .disconnectedUser{
            background: #F55656;
            color: #fff;
        }
        .time{
            color: #777;
            font-size: 0.6em;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // width: 10px;
        }
    }

    #chat_input{
        display: flex;
        margin-left: 0.5em;
        margin-right: 0.5em;

        #m{ 
            border: 1px solid #000; 
            padding: 10px;
            width: 100%;
            margin-right: .5%; 
            border-radius: 4px;
        }
        #send{ 
            border-radius: 4px;
            background: #CECEFD;
            cursor: pointer;
            border: 1px solid #000; 
            padding: 0.6em 1em; 
        }
    }

    .type{
        min-height: 1em;
        background: #EFF5F4;
        padding: 5px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}
