.profile{
    padding: 0 1em;
    
    .nickname{
        margin: 0;
        padding: 0;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    .row{
        display: flex;

        .block{
            margin-left: 1em;
            width: 100%;
            .about{
                resize: none;
                width: 100%;
                min-height: 5em;
            }
        }

        .thumbnail{
            min-width: 25%;

            img{
                width: 100%;
                height: auto;
            }
            button{
                display: block;
                width: 100%;
                margin-bottom: 0.2em;
            }
        }
    }

}